body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bcd1ff;

}

title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #0033ff;
    margin-bottom: 20px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 5px;
    margin-top: 20px;
    color: rgb(255, 6, 222);



}

.cell {
    width: 100px;
    height: 100px;
    background-color: #0091ff;
    border: 2px solid #333;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;

}

.cell:active {
    background-color: #ddd;
}

@media (max-width: 600px) {
    .cell {
        width: 80px;
        height: 80px;
        font-size: 1.5em;
    }

}

#status {
    margin: 15px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: #0033ff;
    text-align: center;

}

button {
    font-family: 'Poppins', sans-serif;
    background-color: #6789df;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    color: rgb(180, 3, 154)
}

button:hover {
    background-color: #9ee8ff;
    font-size: 18px;
}

.o {
    color: #ff00e6;
}

.x {
    color: #00fff7;
}