html,body{
	display:grid;
	height:100%;
	place-items:center;
	background-color:#ecf0f1;
}

.wrapper{
	width:450px;
	height:500px;
	background-color:#fff;
	position:relative;
	box-shadow:0 5px 10px rgba(0,0,0,0.25);
	border:12px solid #29292d;
	transform-style:preserver-3d;
	transform:perspective(2500px);
}

.wrapper video{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	object-fit:cover;
}

.door{
	position:absolute;
	background-color:#2a2930;
	width: 50%;
	height: 100%;
	border: 1px solid #000;
	transition: all 1s;
}

.door1{
	left: 0;
	top: 0;
	transform-origin: left;
}

.wrapper:hover .door1{

    transform: rotateY(-150deg);

}

.door2{
	right: 0;
	top: 0;
	transform-origin: right;
}

.wrapper:hover .door2{

    transform: rotateY(150deg);

}


















